<article id=41 class="post tag-laravel tag-getting-started-with-laravel tag-laravle5">

    <div class="post-head">
        <h1 class="post-title"><a href="/topic/<%= topic._id %>"><%= topic.title %></a></h1>
        <div class="post-meta">
            <span class="author">作者：<a href="/user/<%= topic.author.loginname %>"><%= topic.author.loginname %></a></span> &bull;
            <time class="post-date" datetime="<%= topic.create_at_ago() %>" title="<%= topic.create_at_ago() %>"><%= topic.create_at_ago() %></time>
        </div>
    </div>
    <div class="featured-media">
        <%
        var picStart = topic.content.indexOf("![image]") + 9;
        var temp = topic.content.substr(picStart,200);
        var imgaddr = temp.substr(0, temp.indexOf(")"));
        %>
        <a href="/topic/<%= topic._id %>"><img style="height:100px;" src="<%=imgaddr%>" alt="<%= topic.title %>"></a>
    </div>
    <div class="post-content">
        <%
        var briefstr = topic.content.substr(0, 200);
        console.log('briefstr is ' + briefstr);
        %>
        <p><%=briefstr%></p>
    </div>
    <div class="post-permalink">
        <a href="/topic/<%= topic._id %>" class="btn btn-default">阅读全文</a>
    </div>

    <footer class="post-footer clearfix">
        <div class="pull-left tag-list">
            <i class="fa fa-folder-open-o"></i>
            <a href="/tag/laravel/">Laravel</a>, <a href="/tag/getting-started-with-laravel/">Laravel入门教程</a>, <a href="/tag/laravle5/">laravle5</a>
        </div>
        <div class="pull-right share">
        </div>
    </footer>
</article>