
    <!-- start site's main content area -->
    <section class="content-wrap">
        <div class="container">
            <div class="row">

                <main class="col-md-8 main-content">

<div id="topic_list">
  <%- partial('../topic/hometopic', {collection:topics, as:'topic'}) %>
</div>

<!--
<nav class="pagination" role="navigation">
    <span class="page-number">第 1 页 &frasl; 共 4 页</span>
        <a class="older-posts" href="/page/2/"><i class="fa fa-angle-right"></i></a>
</nav>
-->

<nav class='pagination' role="navigation" current_page='<%= current_page %>'>
  <ul class="list-inline">
    <% var base_url = base + (base.indexOf('?') < 0 ? '?' : '&')
      + 'tab=' + (typeof tab !== 'undefined' ? tab : '') + '&page='; %>
    <% if (current_page == 1) { %>
    <li class='disabled'><a><i class="fa fa-angle-left"></i></a></li>
    <% } else { %>
    <li><a href="<%= base_url %>1"><i class="fa fa-angle-left"></i></a></li>
    <% } %>

    <%
    var page_start = current_page - 2 > 0 ? current_page - 2 : 1;
    var page_end = page_start + 4 >= pages ? pages : page_start + 4;
    %>

    <% if (page_start > 1) { %>
    <li><a>...</a></li>
    <% } %>

    <% for(var i = page_start; i <= page_end; i++) { %>
    <% if (i === current_page) { %>
    <li class='disabled'><a><span class="page-number"><%= i %></span></a></li>
    <% } else { %>
    <li><a href='<%= base_url + i %>'><span class="page-number"><%= i %></span></a></li>
    <% } %>
    <% } %>

    <% if (page_end < pages ) { %>
    <li><a>...</a></li>
    <% } %>

    <% if (current_page == pages) { %>
    <li class='disabled'><a><i class="fa fa-angle-right"></i></a></li>
    <% } else { %>
    <li><a href='<%= base_url + pages %>'><i class="fa fa-angle-right"></i></a></li>
    <% } %>
  </ul>
</nav>

                </main>

                <aside class="col-md-4 sidebar">
                <!-- start widget -->
<!-- end widget -->	

<!-- start tag cloud widget -->
<div class="widget">
	<h4 class="title">社区</h4>
	<div class="content community">
		<p>QQ群：335755460</p>
		<p><a href="/" title="智能创见问答社区" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i class="fa fa-comments"></i> 问答社区</a></p>
	</div>
</div>
<!-- end tag cloud widget -->	

<!-- start widget -->
<div class="widget">
	<h4 class="title">下载客户端</h4>
	<div class="content download">
		<a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Android/iOS客户端'])">下载Android/iOS客户端</a>
	</div>
</div>
<!-- end widget -->	


<!-- start tag cloud widget -->
<div class="widget">
	<h4 class="title">标签云</h4>
	<div class="content tag-cloud">
		<a href="/tag/laravel/">VR</a>
<a href="/tag/laravel-5/">cardboard</a>



		<a href="/tag-cloud/">...</a>
	</div>
</div>
<!-- end tag cloud widget -->	

<!-- start widget -->
<!-- end widget -->	

<!-- start widget -->
<!-- end widget -->                </aside>

            </div>
        </div>
    </section>