<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
智能创见 社区致力于基于Google Cardboadr SDK的移动虚拟现实系统的开发与研究。

社区由一批热爱虚拟现实技术的工程师发起，我们非常欢迎更多对虚拟现实感兴趣的朋友加入。

请关注我们的官方微博：http://weibo.com/smartcreate ，以及我们的公众微信号：smartcreate

您还可以下载社区客户端，直接扫描页面右侧二维码，或者应用市场搜索“SmartCreate社区”下载。

*/
        })) %>
      </div>
    </div>
  </div>
</div>
