<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
智能创见 是一个 以“开源、互助”为基本精神的社区，致力于基于Google Cardboadr SDK的移动虚拟现实系统的开发与研究。

社区由一批热爱虚拟现实技术的工程师发起，我们非常欢迎更多对虚拟现实感兴趣的朋友加入。

目前社区还在建设中，我们期待对技术有着狂热追求，同时愿意帮助更多的人的您参于到开源社区建设和内容引进的活动中来。

让VR给人们的生活和工作带来便利，是我们追求的目标！

为此，我们要让VR更廉价、更优质、内容更丰富，这不是一人之力可以达到，我们希望合众人之力去达成这一愿景。

如果您愿意为之努力，请加QQ群：335755460，或发邮件到：251877979@qq.com
*/
        })) %>
      </div>
    </div>
  </div>
</div>
