<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>Cardboard新手入门</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*

## 认识cardboard
[主要介绍cardboard虚拟现实系统的组成](http://www.smartcreate.net/topic/565c66c7f2fbecf4019be01a)
* * *
## Cardboard硬件组装.
[组装即是把上面第一节所说的硬件各部份组合到一起。即：外设+Cardboard盒子+手机，当前我们要使用的外设是蓝牙手柄，手机选用samsun note3，盒子使用google在今年推出的cardboard 2代，所以硬件的实例即是：蓝牙手柄+Cardboard2015+samsun note3。](http://www.smartcreate.net/topic/565c6914f2fbecf4019be01b)
* * *
## Cardboard应用开发
[如何为cardboard系统开发虚拟现实软件应用呢？](http://www.smartcreate.net/topic/565c6ac6f2fbecf4019be01c)
* * *
## 做一个Cardboard第一人称控制器
[第三帖中已经创建了一个cardboard自带的demo应用，但它是不能移动的，玩家只能站在原地，通过头部转动来观察四周，除此之外，玩家并没有更多的手段与游戏场景进行交互。本帖将描述如何使用蓝牙手柄实现玩家的位置移动，包括前、后、左、右，跳跃等动作。](http://www.smartcreate.net/topic/565c6d4b5a9e790f199deb5d)
* * *
## 新手做轻VR的思路的思考
* 找开源的可玩性高的小游戏；
* VR改造；
* 性能优化；
* * *
## VR开发相关外围设备，可以到以下网店购买，本站联系厂家提供给大家性价比最高的实物，若有疑问也可在回帖中提出，我们会为大家提供力所能及的帮助，或者相关设备问题也可以到VR外设版块讨论交流。
[合作设备供应商列表](http://www.smartcreate.net/topic/5663ede21459a74721540359)
*/
        })) %>
      </div>
    </div>
  </div>
</div>
